.about-us-hero-image {
  height: 632px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  max-width: 649px;
  margin-top: 8px;
}
.about-us__container {
  padding: 56px;
}
.about-us {
  display: flex;
  margin-top: 54px;
}
.who-we-are {
  margin-right: 138px;
}
.header {
  margin-top: 0;
  margin-bottom: 0;
}
.our-mission {
  margin-top: 46px;
}
.content-mission {
  max-width: 1325px;
  margin-top: 8px;
}
.team-profile {
  width: 314px;
  height: 264px;
  object-fit: cover;
  object-position: center;
}
.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  /* top: 0; */
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
}
.lightbox:target {
  display: block;
}
.team-profile:hover {
  opacity: 0.75;
}
.lightbox img {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 878px;
}
.team-container {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 80px;
  justify-content: center;
  margin-top: 36px;
  margin-bottom: 36px;
}
.title {
  margin: 0;
}
.team-card {
  margin-bottom: 36px;
}
.our-team {
  margin-top: 46px;
}
.content-team {
  margin-top: 8px;
}
.clip-description {
  max-width: 540px;
  margin-bottom: 24px;
}
.news-clip__container {
  display: grid;
  justify-content: center;
}
.news-clip {
  display: flex;
  column-gap: 90px;
  margin-bottom: 54px;
  margin-top: 24px;
}
