.adopt-hero-image {
  height: 632px;
  width: 100%;
  object-fit: cover;
  padding-bottom: 40px;
}
.hero-header {
  font-size: 46px;
  color: white;
}

@media only screen and (max-width: 1200px) {
  .hero-header {
    font-size: 36px;
  }
}

.adoption-process {
  max-width: 1328px;
  padding: 0 56px 0 56px;
}
.header {
  margin-bottom: 8px;
}
.content {
  margin-top: 4px;
}
.process {
  margin-bottom: 56px;
}
.fees {
  margin-bottom: 56px;
}
.adoptable-animals-button {
  width: 427px;
  height: 56px;
  background-color: #00357b;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 56px;
  position: relative;
  left: 450px;
}

@media only screen and (max-width: 1200px) {
  .adoptable-animals-button {
    left: 0px;
  }
  .adoption-process {
    padding: 0px 35px;
  }
}

.adoptable-animals-button:hover {
  opacity: 0.75;
  cursor: pointer;
}
.adoption-stories-header {
  margin-bottom: 36px;
}
.adoption-stories-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  column-gap: 48px;
  row-gap: 56px;
  margin-bottom: 56px;
}
.story-profile {
  border-radius: 10px;
}
.title {
  margin-top: 4px;
  margin-bottom: 4px;
}
.container {
  max-width: 426px;
}
.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  /* top: 0; */
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
}
.lightbox:target {
  display: block;
}
.story-profile:hover {
  opacity: 0.75;
}
.lightbox img {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 878px;
}
