.carousel-container {
  display: grid;
  row-gap: 50px;
  margin-bottom: 30px;
}
.main-profile-image {
  width: 637px;
  height: 528px;
  /* padding-top: 64px; */
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
}
.carousel-inner {
  width: 637px;
  height: 528px;
  /* padding-top: 64px; */
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
}
.carousel-indicators img {
  width: 177px;
  border-radius: 10px;
  height: 160px;
  object-fit: cover;
  object-position: top;
}
.carousel-indicators {
  position: relative;
  display: flex;
  justify-content: space-between;
  /* override boostrap css */
  left: 0;
  width: 100%;
  margin-left: 0;
  z-index: 0;
  padding: 0 10px 0 10px;
}
.carousel-indicators .active {
  width: 177px;
}
.carousel-container {
  max-width: 637px;
  margin-left: 100px;
}
.carousel-indicators img {
  opacity: 0.75;
}
.carousel-indicators__image:hover img {
  opacity: 1;
}
.carousel-indicators__image .active img {
  opacity: 1;
}

.profile-text {
  margin-left: 76px;
  margin-right: 56px;
  margin-top: 64px;
  max-width: 469px;
}
.profile-text > h1 {
  margin-top: 0;
}
.adopt-button {
  width: 206px;
  height: 56px;
  border: none;
  border-radius: 100px;
  background-color: #00357b;
  font-size: 16px;
  color: white;
  margin-left: 217px;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
}
.name {
  margin-bottom: 8px;
}
.animal-profile {
  display: flex;
  justify-content: center;
}
.story {
  margin-bottom: 92px;
}
