.topnav {
  background-color: white;
  height: 140px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.topnav a {
  float: right;
  color: #000;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
}
.topnav a:hover {
  color: #ff8616;
  text-decoration: none;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  column-gap: 100px;
  align-items: center;
  margin-right: 56px;
}
.home {
  margin-left: 56px;
}
.donate-button {
  background-color: #ff8616;
  color: white;
  width: 147px;
  height: 48px;
  border-radius: 100px;
  font-size: 16px;
  border: none;
}
.donate-button:hover {
  cursor: pointer;
  opacity: 0.75;
}
body {
  font-family: "Inter";
  margin: 0;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  height: 327px;
  background-color: #00357b;
  color: white;
  align-items: center;
}
.company-labels {
  font-weight: bold;
}
.bottom-nav {
  display: grid;
  height: 96px;
}
.bottom-nav a {
  color: white;
  text-decoration: none;
}
.company-content {
  margin-bottom: 12px;
}
.newsletter-input-container {
  display: grid;
}
.newsletter-input {
  width: 236px;
  height: 36px;
  margin-top: 8px;
}
.social-media {
  margin-top: 36px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 124px;
}
.sign-up-button {
  background-color: #ff8616;
  color: white;
  width: 147px;
  height: 48px;
  border-radius: 100px;
  font-size: 16px;
  border: none;
  margin-left: 36px;
}
.sign-up-button:hover {
  opacity: 0.75;
  cursor: pointer;
}
.newsletter {
  display: flex;
}
.sign-up {
  position: relative;
  top: 22px;
}
