.hero-image {
  height: 100vh;
  width: 100%;
  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  object-fit: cover;
}
.banner-button {
  background-color: #00357b;
  color: white;
  border: solid 2px #00357b;
  width: 256px;
  height: 72px;
  border-radius: 100px;
  margin-top: 20px;
  font-size: 16px;
}
.banner-button:hover {
  background-color: white;
  border: solid 2px #00357b;
  color: black;
  cursor: pointer;
}
.banner-header {
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 8px;
}
.banner-subheader {
  font-size: 20px;
  font-weight: normal;
}
@media only screen and (max-width: 992px) {
  .banner-button {
    width: 150px;
    height: 50px;
    font-size: 14px;
  }
  .banner-header {
    font-size: 20px;
  }
  .banner-subheader {
    font-size: 14px;
  }
}
