.volunteer-hero-image {
  height: 632px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;
}
.hero-header {
  font-size: 46px;
}
.volunteer-intro {
  display: flex;
  justify-content: center;
  column-gap: 200px;
  margin-bottom: 40px;
}
.volunteer-description {
  max-width: 540px;
}
.requirement-card {
  width: 486px;
  height: 312px;
  background-color: #f5f5f5;
  border-radius: 10px;
}
.requirement-header {
  position: relative;
  left: 162px;
  margin-top: 32px;
}
.requirement-content {
  position: relative;
  left: 32px;
  margin-bottom: 16px;
  max-width: 375px;
}
.header {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 36px;
  font-weight: 600;
}
.content {
  margin-top: 4px;
  margin-bottom: 36px;
}
.title {
  font-size: 24px;
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 4px;
}
.volunteer-programs {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 96px;
}
.volunteer-profile {
  border-radius: 10px;
}
.volunteer-container {
  display: grid;
  justify-content: center;
  row-gap: 40px;
}
.accordion {
  color: #00a2ff;
  cursor: pointer;
  font-size: 15px;
  padding-bottom: 10px;
}
.active,
.accordion:hover {
  color: #ff8616;
}
.panel {
  display: none;
  overflow: hidden;
}
.volunteer-main {
  /* padding-left: 76px; */
  max-width: 1223px;
}
.text-area {
  width: 663px;
  height: 800px;
  max-height: 800px;
  max-width: 663px;
  overflow: auto;
  background-color: #f5f5f5;
  margin-bottom: 90px;
  margin-top: 45px;
  padding-left: 71px;
  border: solid 1px lightgrey;
}
.input-field {
  width: 521px;
  height: 48px;
  margin-bottom: 32px;
}
.form-title {
  font-size: 28px;
  margin-top: 52px;
  margin-bottom: 30px;
}
.input-field,
.label-field {
  display: flex;
  flex-direction: column;
}
.short-label-field .short-input-field {
  display: flex;
  flex-direction: column;
}
.short-input-field {
  width: 150px;
  height: 48px;
}
.code {
  display: flex;
  column-gap: 28px;
  max-width: 529px;
  margin-bottom: 36px;
}
.program-heading {
  margin-bottom: 10px;
}
.program-title {
  margin-bottom: 0;
  font-weight: 500;
}
.box {
  margin-bottom: 36px;
}
/* .zip {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 521px;
} */
.open-field {
  width: 521px;
  height: 100px;
  margin-bottom: 32px;
}
.submit-button {
  width: 190px;
  height: 56px;
  border: none;
  border-radius: 100px;
  background-color: #00357b;
  color: white;
  font-size: 16px;
  margin-left: 190px;
  margin-top: 10px;
  margin-bottom: 48px;
}
.submit-button:hover {
  opacity: 0.75;
  cursor: pointer;
}
.content-app {
  max-width: 663px;
}
